/* src/ServiceSection.css */
.services {
    background-color: #a1a1a1;
    padding: 50px 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
    text-align: center;
  }
  
  .services h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .services-scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-bottom: 20px;
    gap: 20px; /* Gap between items */
    scroll-snap-type: x mandatory; /* Smooth snap scrolling */
  }
  
  .services-scroll-container::-webkit-scrollbar {
    height: 8px; /* Height of the scrollbar */
  }
  
  .services-scroll-container::-webkit-scrollbar-thumb {
    background: #ccc; /* Color of the scrollbar */
    border-radius: 4px; /* Rounded scrollbar */
  }
  
  .service-item {
    flex: 0 0 auto; /* Flex item does not shrink or grow */
    width: 400px; /* Set a fixed width for each item */
    height: 600px;
    text-align: left;
    background-color: #c4c4c4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center; /* Center each item on snap */
  }
  
  .service-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .service-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service-item p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .service-item ul {
    padding-left: 20px;
    font-size: 16px;
  }
  
  .service-item ul li {
    margin-bottom: 5px;
  }
  