/* ServiceSection.css */

/* Section styling */
.services {
  padding: 50px;
  background-color: #f7f7f7;
  text-align: center;
}

/* Header styling */
.services h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Container for services */
.services-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between service items */
}

/* Individual service item styling */
.service-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.service-item.text-left .service-text {
  order: 1;
}

.service-item.text-left .service-media {
  order: 2;
}

.service-item.text-right .service-text {
  order: 2;
}

.service-item.text-right .service-media {
  order: 1;
}

.service-item:hover {
  transform: translateY(-5px);
}

/* Content inside the service item */
.service-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.service-text {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.service-text h3 {
  font-size: 24px;
  margin: 10px 0;
}

.service-text p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.service-text ul {
  list-style-type: disc;
  padding-left: 20px;
}

.service-text ul li {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

/* Media container */
.service-media {
  flex: 1;
  padding: 20px;
}

.service-media img, .service-media video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Consistent shadow with images */
}

/* Styling video container */
.video-container {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Consistent shadow with images */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .service-item {
    flex-direction: column;
    align-items: center;
  }

  .service-text, .service-media {
    padding: 10px;
    width: 100%;
  }
}
